<div *ngIf="!singleWord"><button (click)="singleWordDisplay()">let start</button></div>
<div *ngIf="singleWord">
    <div>creation date : {{singleWord.getDateFormat(singleWord.CreationDate)}}</div>
    <div>repetition date : {{singleWord.getDateFormat(singleWord.RepetitionDate)}}</div>
    <div>source word: {{singleWord.SourceWord}}</div>
    <div *ngIf="singleWord.PartOfSpeech">part of dpeech: {{singleWord.PartOfSpeech}}</div>
    <button *ngIf="!displayTranslateWord" (click)="displayTranslateWord = true">display</button>
    <div *ngIf="displayTranslateWord">
        <div>Translate word: {{singleWord.TranslateWord}}</div>
        <div *ngIf = "!singleWord.isRepeatd" >
            <button (click) = setNextRepeDate(1)>1</button>
            <button (click) = setNextRepeDate(2)>2</button>
            <button (click) = setNextRepeDate(3)>3</button>
            <button (click) = setNextRepeDate(4)>4</button>
            <button (click) = setNextRepeDate(5)>5</button>
        </div>
    </div>
    <button (click)="next()">next</button>
    <button (click)="beck()">beke</button>
</div>