<div><label>full name <input type="text" placeholder="enter your full name" [(ngModel)] = logupUser.name></label></div>
<div><label>E-mail <input type="name nvarchar(255)" placeholder="enter your email addres" [(ngModel)] = logupUser.email></label></div>
<div><label>password <input type="password" placeholder="enter a password" [(ngModel)] = logupUser.password></label></div>
<div><label>auth password <input type="password" placeholder="auth your password"></label></div>
<button (click) = "logup()" disabled>logup</button>
